{% extends 'PetitBackBundle::base.html.twig' %}

{% block body -%}
    <h1>Race</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Namerace</th>
                <td>{{ entity.nameRace }}</td>
            </tr>
            <tr>
                <th>Picturerace</th>
                <td>{{ entity.pictureRace }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('raza') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('raza_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
