{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Cellphone</th>
                <th>Housephone</th>
                <th>Jobphone</th>
                <th>Birthday</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Facebookaccount</th>
                <th>Twitteraccount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.cellPhone }}</td>
                <td>{{ entity.housePhone }}</td>
                <td>{{ entity.jobPhone }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.facebookAccount }}</td>
                <td>{{ entity.twitterAccount }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('persona_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('persona_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('persona_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
